<!-- app/templates/posts.hbs -->

<section>
{{#each model as |post|}}
    <div>
        <div>{{post.title}}</div>
        <div>{{post.timestamp}}</div>
        <div>{{post.postBody.content}}</div>
    </div>
    {{/each}}
</section>
