{{#md-collection content=model as |item|}}
    {{#link-to "admin.posts.edit" item.id class="collection-item"}}{{item.title}}{{/link-to}}
{{/md-collection}}

<div class="right-align">
    {{#link-to "admin.posts.new" class="btn-floating btn-large waves-effect waves-light deep-purple accent-2"}}<i class="mdi-content-add">add</i>{{/link-to}}
</div>
