<nav class="teal" role="navigation">
    <div class="nav-wrapper container">{{#link-to "index" id="logo-container" class="brand-logo"}}Gonnatakeyouthere{{/link-to}}
        <ul class="right">
            {{#if session.currentUser}}
                {{user-profile-image user=session.currentUser signOut="signOut"}}
            {{else}}
                <li>{{#link-to "login"}}Sign in{{/link-to}}</li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="container">
  <div class="section">
      {{admin-nav-tabs}}

      {{outlet}}
  </div>
</div>
