{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}

<footer class="page-footer teal">
  <div class="footer-copyright">
    {{md-copyright text='Cristina Marantette' startYear=2014}}
  </div>
</footer>
